{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="homepage">
                    <a href="{{ path('home') }}" class="home-link">🏠 We Movies</a>
                </div>
                <div class="search-container">
                    <input type="text" id="movie-search" class="form-control" placeholder="Chercher un film...">
                    <div id="autocomplete-results" class="list-group"></div>
                </div>
            </div>

            <aside class="col-md-2">
                <h2 class="my-4">Genres</h2>
                <ul class="list-group">
                    {% for genre in genres %}
                        <li class="list-group-item genre-item" data-genre-id="{{ genre.id }}" data-genre-name="{{ genre.name }}">{{ genre.name }}</li>
                    {% endfor %}
                </ul>
            </aside>

            <main class="col-md-10">
                <!-- Movie List Section -->
                <div id="movie-list">
                    <h2 id="genre-title" class="my-4">Top 10 Movies</h2>
                    <div id="bestMovieTrailer">
                        {% if url|length > 0 %}
                            <iframe 
                                width="100%" 
                                height="600" 
                                src="{{ url }}?autoplay=1&mute=1&loop=1&playlist={{video_id}}&controls=0&modestbranding=1&showinfo=0&rel=0" 
                                allow="autoplay; encrypted-media" 
                                style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #f9f9f9;">
                            </iframe>
                            <div class="trailer-shadow"></div>
                        {% else %}
                            <p>No trailer available.</p>
                        {% endif %}
                    </div>                    
                    <div id="movies-container" class="row">
                        {% for movie in bestMovies %}
                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top movie-poster" alt="{{ movie.title }}">
                                    <div class="movie-details">
                                        <h5>{{ movie.title }}</h5>
                                        <p>{{ movie.overview|length > 100 ? movie.overview|slice(0, 100) ~ '...' : movie.overview }}</p>
                                        <button class="btn btn-primary movie-button view-details" data-movie-id="{{ movie.id }}">Lire le détails</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap Modal for Movie Details -->
    <div class="modal fade" id="movieDetailsModal" tabindex="-1" aria-labelledby="movieDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <p><h4 id="movie-title"></h4></p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="movie-poster" class="img-fluid mb-3" src="" alt="">
                    <p><strong>Description:</strong> <span id="movie-overview"></span></p>
                    <p><strong>Date de sortie:</strong> <span id="movie-release-date"></span></p>
                    <p><strong>Note:</strong> <span id="movie-rating"></span></p>
                    <p><strong>Genres:</strong> <span id="movie-genres"></span></p>
                    <input type="hidden" id="movie-id" value="">
                    <div class="rating">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}